<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    
    <!--Browser configuration-->
    <!--Firefox
        Chrome
        Ie-->
    <add key="BROWSER" value="Chrome"/>

    <!--Handle URL redirect to old design issue by reload URL after login -->
    <add key="ENV" value="UAT"/>
    <!--UAT
        PREPROD-->
    <add key="UAT_URL" value=""/>
    <add key="PREPROD_URL" value=""/>
    <add key="UAT_USER_NAME" value=""/>
    <add key="UAT_PASSWORD" value=""/>
    <add key="PREPROD_USER_NAME" value=""/>
    <add key="PREPROD_PASSWORD" value=""/>
    <add key="UAT_NAME" value=""/>
    <add key="PREPROD_NAME" value=""/>
  </appSettings>
</configuration>
